body {
  background-color: #f5deb3;
}

hr {
  border-color: grey;
  border-width: 5px;
  border-style: dotted none none;
  width: 8%;
}

img {
  height: 250px;
}
h3{
  color: #cd853f;
}
h1{
  color: #a0522d;
}
